<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>

    <appender name="terrainServerLog" class="org.apache.log4j.RollingFileAppender">
        <param name='File' value='${app.working.dir}/terrainServer.log'/>
        <param name="Threshold" value="debug"/>
        <param name="MaxFileSize" value="1000000"/>
        <param name="MaxBackupIndex" value="3"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd.MM.yyyy};%d{HH:mm:ss};%t;%-5p;%c;%m%n"/>
        </layout>
    </appender>
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="debug"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
        </layout>
    </appender>

    <logger name="org.n52">
        <level value="debug"/>
        <appender-ref ref="terrainServerLog"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="de.triturus">
        <level value="debug"/>
        <appender-ref ref="terrainServerLog"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

</log4j:configuration>

