<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

	<servlet>
	    <servlet-name>WebTerrainServlet</servlet-name>
        <servlet-class>org.n52.v3d.terrainserver.povraywts.WebTerrainServlet</servlet-class>
        <init-param>
    	    <param-name>CapabilitiesFile</param-name>
      	    <param-value>D:/WebApps/terrainServer/WEB-INF/conf/wts/Capabilities.xml</param-value>
        </init-param>
        <init-param>
    	    <param-name>SourceGridPath</param-name>
      	    <!--<param-value>C:/Projekte/DGM50</param-value>-->
            <param-value>D:/Data/demdata</param-value>
        </init-param>
        <init-param>
    	    <param-name>TileLocator</param-name>
            <param-value>europe-0.5deg</param-value>
            <!--<param-value>europe-1deg</param-value>-->
            <!--<param-value>TK25</param-value>-->
        </init-param>
        <init-param>
    	    <param-name>MinCellSize</param-name>
      	    <param-value>90.0</param-value>
        </init-param>
        <init-param>
    	    <param-name>MinCellSizeLatLon</param-name>
      	    <param-value>0.0018</param-value>
        </init-param>
        <init-param>
    	    <param-name>SearchRadiusMin</param-name>
      	    <!--<param-value>50.0</param-value>-->
            <param-value>250</param-value>
        </init-param>
        <init-param>
    	    <param-name>DefaultDrape</param-name>
      	    <param-value>D:/WebApps/terrainServer/etc/povraywts/default_drape.jpg</param-value>
        </init-param>
        <init-param>
    	    <param-name>PovrayInstallationPath</param-name>
      	    <param-value>C:/Programme/povray36b</param-value>
        </init-param>
        <init-param>
    	    <param-name>PovrayExec</param-name>
      	    <param-value>/bin/pvengine.exe</param-value>
        </init-param>
        <init-param>
    	    <param-name>PovrayWin</param-name>
      	    <param-value>true</param-value>
        </init-param>
        <init-param>
    	    <param-name>ShellCommand</param-name>
      	    <param-value>cmd.exe</param-value>
        </init-param>
        <init-param>
    	    <param-name>ShellCommandParams</param-name>
      	    <param-value>/E:1900 /C</param-value>
        </init-param>
        <init-param>
    	    <param-name>ShellCommandQuot</param-name>
      	    <param-value>true</param-value>
        </init-param>
        <init-param>
    	    <param-name>WorkingDirectory</param-name>
      	    <param-value>C:/tmp/terrainServer</param-value>
        </init-param>
        <init-param>
    	    <param-name>WebConnectProxySet</param-name>
      	    <param-value>true</param-value>
        </init-param>
        <init-param>
    	    <param-name>WebConnectProxyHost</param-name>
      	    <param-value>proxy</param-value>
        </init-param>
        <init-param>
    	    <param-name>WebConnectProxyPort</param-name>
      	    <param-value>8080</param-value>
        </init-param>
        <init-param>
    	    <param-name>WebConnectNonProxyHosts</param-name>
      	    <param-value>localhost|pa001a</param-value>
        </init-param>
        <init-param>
    	    <param-name>CopyrightTextContent</param-name>
      	    <param-value>(C) 52 North</param-value>
        </init-param>
        <init-param>
    	    <param-name>CopyrightTextFont</param-name>
      	    <param-value>SansSerif</param-value>
        </init-param>
        <init-param>
    	    <param-name>CopyrightTextSize</param-name>
      	    <param-value>10</param-value>
        </init-param>
        <init-param>
    	    <param-name>CopyrightTextColor</param-name>
      	    <param-value>0xFFFF00</param-value>
        </init-param>
        <init-param>
          <param-name>PedestalColor</param-name>
          <param-value>0x404040</param-value>
        </init-param>
        <init-param>
          <param-name>SessionMaxInactiveInterval</param-name>
          <param-value>480</param-value>
        </init-param>
        <init-param>
          <param-name>MaxRendererInstances</param-name>
          <param-value>5</param-value>
        </init-param>
        <init-param>
            <param-name>UseTimeSlices</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>MaxWaitTime</param-name>
            <param-value>5</param-value>
        </init-param>
        <init-param>
            <param-name>TimeSliceDuration</param-name>
            <param-value>2000</param-value>
        </init-param>
        <init-param>
            <param-name>RendererTimeout</param-name>
            <param-value>20000</param-value>
        </init-param>
        <init-param>
            <param-name>RendererImmediateTermination</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>MonProtUser</param-name>
            <param-value>administrator</param-value>
        </init-param>
        <init-param>
            <param-name>MonProtPasswd</param-name>
            <param-value>gf34z9gj</param-value>
        </init-param>
        <init-param>
    	    <param-name>MaxArea</param-name>
      	    <param-value>1000000000</param-value>
        </init-param>
        <init-param>
    	    <param-name>LocalDebug</param-name>
      	    <param-value>false</param-value>
        </init-param>
        <init-param>
    	    <param-name>ErrMsgFile</param-name>
      	    <param-value>ErrorMessages.asc</param-value>
        </init-param>
    </servlet>

    <servlet>
	    <servlet-name>DEMServlet</servlet-name>
        <servlet-class>org.n52.v3d.terrainserver.povraywts.demservice.DEMServlet</servlet-class>
        <init-param>
    	    <param-name>CapabilitiesFile</param-name>
      	    <param-value>D:/WebApps/terrainServer/WEB-INF/conf/demservice/Capabilities.xml</param-value>
        </init-param>
        <init-param>
    	    <param-name>SourceGridPath</param-name>
      	    <param-value>D:/Data/DGM50</param-value>
        </init-param>
        <init-param>
    	    <param-name>DestFilePath</param-name>
      	    <param-value>C:/temp</param-value>
        </init-param>
        <init-param>
    	    <param-name>TileLocator</param-name>
      	    <param-value>TK25</param-value>
        </init-param>
        <init-param>
    	    <param-name>MinCellSize</param-name>
      	    <param-value>50.0</param-value>
        </init-param>
        <init-param>
    	    <param-name>MinCellSizeLatLon</param-name>
      	    <param-value>8.3333333333333e-4</param-value>
        </init-param>
        <init-param>
    	    <param-name>SearchRadiusMin</param-name>
      	    <param-value>90.0</param-value>
        </init-param>
        <init-param>
    	    <param-name>WorkingDirectory</param-name>
      	    <param-value>C:/tmp</param-value>
        </init-param>
        <init-param>
    	    <param-name>MaxArea</param-name>
      	    <param-value>1000000000</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>org.n52.v3d.terrainserver.povraywts.profileservice.ProfileServlet</servlet-class>
        <init-param>
    	    <param-name>CapabilitiesFile</param-name>
      	    <param-value>D:/WebApps/terrainServer/conf/profileservice/Capabilities.xml</param-value>
        </init-param>
        <init-param>
    	    <param-name>SourceGridPath</param-name>
      	    <param-value>D:/Data/DGM50</param-value>
        </init-param>
        <init-param>
    	    <param-name>WorkingDirectory</param-name>
      	    <param-value>C:/tmp/terrainServer</param-value>
        </init-param>
        <init-param>
    	    <param-name>TileLocator</param-name>
      	    <param-value>TK25</param-value>
        </init-param>
        <init-param>
    	    <param-name>MaxArea</param-name>
      	    <param-value>1000000000</param-value>
        </init-param>
        <init-param>
    	    <param-name>MinCellSize</param-name>
      	    <param-value>90.0</param-value>
        </init-param>
        <init-param>
    	    <param-name>MinCellSizeLatLon</param-name>
      	    <param-value>8.3333333333333e-4</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>TKBlattnummerServlet</servlet-name>
        <servlet-class>org.n52.v3d.terrainserver.povraywts.tkblattnrservice.TKBlattnummerServlet</servlet-class>
        <init-param>
    	    <param-name>CapabilitiesFile</param-name>
      	    <param-value>D:/WebApps/terrainServer/WEB-INF/conf/tkblattnrservice/Capabilities.xml</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
          <servlet-name>WebTerrainServlet</servlet-name>
          <url-pattern>/WebTerrainServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
          <servlet-name>DEMServlet</servlet-name>
          <url-pattern>/DEMServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
          <servlet-name>TKBlattnummerServlet</servlet-name>
          <url-pattern>/TKBlattnummerServlet</url-pattern>
    </servlet-mapping>

</web-app>